@model UsuarioModel
<!-- Verifica se o TempData eh verdade -->
@{

    //nao utiliza o layout do shared e o que foi criado uma copia do layout para utilizacao do bootstrap e resto
    Layout = "../Shared/_LayoutLogin.cshtml";

}
<div style="text-align:center;"><img src="~/images/logo.png" style="width:250px;" /></div>
<div class="container" style="background-color:rgba(202, 202, 202, 0.80); border-radius:10px; padding:20px; width:450px;">
    @{ try
        {
            if (@TempData["MensagemLoginInvalida"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Atencao!</strong> @TempData["MensagemLoginInvalida"]
                </div>
            }
        }
        catch { }}
    <form asp-controller="Usuario" asp-action="ValidarLogin">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" asp-for="Email">
        </div>
        <div class="form-group">
            <label for="pwd">Senha:</label>
            <input type="password" class="form-control" asp-for="Senha">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Lembrar meu acecsso</label>
        </div>
        <button type="submit" class="btn btn-success btn-block">Entrar</button>
        <a href="Registrar" type="button" class="btn btn-info btn-block">Registrar-me</a>
    </form>
    <br />
</div>
