@{

    //nao utiliza o layout do shared e o que foi criado uma copia do layout para utilizacao do bootstrap e resto
    Layout = "../Shared/_LayoutLogin.cshtml";

}
<h2>Seu usuario foi criado com sucesso! Clique <a href="../Usuario/Login" style="color:royalblue">aqui</a> para logar...</h2>

