<div class="row">
    <div class="col-lg-6">
        <a href="../Usuario/Login" class="btn btn-block btn-primary" role="button">Entrar no Sistema</a>
    </div>
    <div class="col-lg-6">
        <a href="../Usuario/Registrar" class="btn btn-block btn-success" role="button">Registrar no sistema</a>
    </div>
</div>

